{% extends "group_container_base.html" %}
{% block container-content %}
	<div id="post-column-area-wrapper">
		<div id="post-column-area">
			
			<h3>My Squads</h3>
			
			<div class="post-list-container">
				<a href="/create_new_group">
				<button type="button" id="btn-create-group">+ New Squad</button></a>
				{% if not pairs %}
				<br><br>
				You are not in any squads yet. Get started by creating a new one, or ask an owner to invite you to be their moderator.
				{% endif %}
			</div>
			<ul id="post-list-table">
				{% for group, link in pairs %}
					<a href="{{ link }}">
						<li class="row-item" id="{{ group.name }}">
							<span class="strong">{{ group.name }}</span>
							{% if group.admin %}
								<span class="admin label">
								owner
								</span>
							{% endif %}
							{% if group.mod %}
								<span class="mod label">
								mod
								</span>
							{% endif %}
							<br>
							<span class="italic-med">{{ group.desc }}</span></li>
						</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endblock %}