{% extends "squadbox/base.html" %}
{% block customcss %}
{% endblock %}
{% block content %}
	<div class="container">
		<h3>Online Harassment Resources</h3>
		<div class="group-container">
			<h4>Securing Your Accounts & Protecting Yourself From Harassment</h4>
			<ul>
				<li>
					<a href="https://crashoverridenetwork.tumblr.com/post/109948061867/account-security-101-passwords-multifactor">Account Security 101</a> (Crash Override Network)
				</li>
				<li>
					<a href="http://www.crashoverridenetwork.com/coach.html">Coach: Crash Override's Automated Cybersecurity Helper</a> (Crash Override Network)
				</li>
				<li>
					<a href="http://femtechnet.org/csov/lock-down-your-digital-identity/">Locking Down Your Digital Identity</a> (FemTechNet)
				</li>
				<li>
					<a href="https://hackblossom.org/cybersecurity/">A DIY Guide To Feminist Cybersecurity</a> (HackBlossom)
				</li>
				<li>
					<a href="https://iheartmob.org/resources/tech">Technical Safety Guide</a> (Heartmob)
				</li>
				<li>
					<a href="https://iheartmob.org/resources/safety_guides">Social Media Safety Guides for Twitter, Facebook, Tumblr, Reddit, Youtube</a> (Heartmob)
				</li>
				<li>
					<a href="https://datasociety.net/pubs/res/Best_Practices_for_Conducting_Risky_Research-Oct-2016.pdf">Best Practices for Conducting Risky Research and Protecting Yourself from Online Harassment</a> (Data & Society)
				</li>
				<li>
					<a href="https://onlinesafety.feministfrequency.com/en/">Protecting Yourself From Online Harassment</a> (Feminist Frequency)
				</li>
				<li>
					<a href="https://www.amazon.com/Smart-Girls-Guide-Privacy-Practical-ebook/dp/B013HA1V4S/">The Smart Girl's Guide to Privacy: Practical Tips for Staying Safe Online</a> (by Violet Blue, sold on Amazon)
				</li>
			</ul>
			<hr>
			<h4>Get Help From Others</h4>
			<ul>
				<li>
					<a href="https://iheartmob.org/">Heartmob</a>: a platform that provides real-time support to individuals experiencing online harassment and empowers bystanders to act
				</li>
				<li>
					<a href="https://blocktogether.org/">Blocktogether</a>: A Twitter tool to allow collaborative blocklists
				</li>
				<li>
					<a href="https://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a>
				</li>
				<li>
					<a href="https://iheartmob.org/resources/rights">Know Your Rights</a>: tips on preparing a case and going to a lawyer and/or the police (Heartmob)
				</li>
				<li>
					<a href="https://iheartmob.org/resources/supportive_organizations">Supportive Organizations for individuals experiencing online harassment</a> (Heartmob)
				</li>
				<li>
					<a href="https://crashoverridenetwork.tumblr.com/post/113748237272/guide-talking-to-family-police">Guide: Talking To Family and Police</a> (Crash Override Network)
				</li>
			</ul>
			<hr>
			<h4>Doxing & Nonconsensual Intimate Images ("Revenge Porn")</h4>
			<ul>
				<li>
				<a href="https://crashoverridenetwork.tumblr.com/post/114270394687/so-youve-been-doxed-a-guide-to-best-practices">So You’ve Been Doxed: A Guide to Best Practices</a> (Crash Override Network)
				</li>
				<li>
					<a href="https://crashoverridenetwork.tumblr.com/post/108387569412/preventing-doxing">Preventing Doxing</a> (Crash Override Network)
				</li>
				<li>
					<a href="https://www.cybercivilrights.org/online-removal/">Nonconsensual Intimate Images Removal Guide</a> (Cyber Civil Rights Inititive)
				</li>
			</ul>
			<hr>
			<h4>How To Help People Experiencing Harassment</h4>
			<ul>
				<li>
					<a href="https://datasociety.net/pubs/res/Online_Harassment_Information_Sheet-Oct-2016.pdf">Online Harassment Information For Universities</a> (Data & Society)
				</li>
				<li>
					<a href="http://www.crashoverridenetwork.com/employers.html">What To Do If Your Employee Is Being Targeted By Online Abuse</a> (Crash Override Network)
				</li>
				<li>
					<a href="https://iheartmob.org/resources/bystander_self_care">Self Care for Bystanders</a> (Heartmob)
				</li>
			</ul>
		</div>
	</div>
{% endblock %}